<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    {{> styling}}

</head>

<body>

    {{> main}}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel  center-align">
                    <h1 class="teal-text">About</h1>
                    <p class="flow-text">
                        DearDiary is a node applications for Writing Your day to day day events digitally and Storing It on the Internet Which will
                        only be Visible to You
                    </p>
                    <a href="/ideas/add" class="btn-large wave-effects teal darken-2">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    {{> bootstrap}}
</body>

</html>