<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {{> styling}}


</head>

<body>

    {{> main}}
    <div class="container">
        <div class="row">
            <div class="col s12">

                <div class="card-panel center-align hoverable">
                    <h1 class="">
                        <span class="teal-text">Welcome</span> To DearDiary</h1>

                    <p class="flow-text ">Write about today's Events</p>
                    <a href="/ideas/add" class="waves-effect waves-light btn">Write
                        <i class="material-icons">create</i>
                    </a>
                </div>

            </div>
        </div>

    </div>


    {{> bootstrap}}
</body>

</html>